{% extends "base.twig" %}

{% block og %}
    <meta property="og:title" content="{{ title|e }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://reia.dev/admin">
    <meta property="og:image" content="https://reia.dev/logo.png">
    <meta property="og:site_name" content="reia.dev">
{% endblock %}

{% block content %}
    {% if flash %}
        <p class="alert alert-{{ flash.type }}">{{ flash.message|raw }}</p>
    {% endif %}
    <h1>Administrator Panel</h1>
    {% if user %}
        <p>Welcome, administrator {{ user.username|e }}!</p>
    {% endif %}
    {% if users|length > 0 %}
        <table class="admin-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>E-mail Address</th>
                    <th>Role</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
            {% for u in users %}
                <tr>
                    <td>{{ u.id }}</td>
                    <td>{{ u.username }}</td>
                    <td>{{ u.email }}</td>
                    <td>{{ u.role }}</td>
                    <td><a href="/admin/activate/{{ u.id }}/1">Activate</a> | <a href="/admin/ban/{{ u.id }}/-1">Ban</a> | <a href="/admin/promote/{{ u.id }}/2">Promote</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No inactive users to activate.</p>
    {% endif %}
{% endblock %}
