{% extends "base.twig" %}

{% block og %}
    <meta property="og:title" content="{{ title|e }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://reia.dev/forum/{{ category.id }}">
    <meta property="og:image" content="https://reia.dev/logo.png">
    <meta property="og:site_name" content="reia.dev">
{% endblock %}

{% block content %}
    {% if flash %}
        <p class="alert alert-{{ flash.type }}">{{ flash.message|raw }}</p>
    {% endif %}
    <p><a href="/forum">Forum</a> / <a href="/forum/{{ category.id }}">{{ category.name|e }}</a></p>
    {% if user %}
        <p><a href="/forum/create/{{ category.id }}" class="article-button">Create Topic</a></p>
    {% endif %}
    <hr>
    <h1>{{ category.name|e }}</h1>
    {% if topics|length > 0 %}
        <article class="topic-overview">
            <section class="topic-section">
                <p class="topic-subject"><strong>Subject</strong></p>
                <p class="topic-replies"><strong>Replies</strong></p>
                <p class="topic-started-by"><strong>Started By</strong></p>
                <p class="topic-last-reply"><strong>Last Reply</strong></p>
            </section>
        {% for topic in topics %}
            <section class="topic-section">
                <p class="topic-subject"><a href="/forum/topic/{{ topic.id }}">{{ topic.is_sticky ? "Sticky: " : "" }}{{ topic.is_locked ? "Locked: " : "" }}{{ topic.subject|e }}</a></p>
                <p class="topic-replies">{{ topic.reply_count }}</p>
                <p class="topic-started-by"><a href="/user/{{ topic.username|e }}">{{ topic.username|e }}</a> ({{ topic.created_at|date("Y-m-d H:i:s") }})</p>
                {% if topic.last_reply_username %}
                    <p class="topic-last-reply"><a href="/user/{{ topic.last_reply_username|e }}">{{ topic.last_reply_username|e }}</a> ({{ topic.last_replied_at|date("Y-m-d H:i:s") }})</p>
                {% else %}
                    <p class="topic-last-reply">None yet!</p>
                {% endif %}
            </section>
        {% endfor %}
        </article>
    {% else %}
        <p>No topics found.</p>
    {% endif %}
{% endblock %}
