{% extends "base.twig" %}

{% block og %}
    <meta property="og:title" content="{{ title|e }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://reia.dev/forum">
    <meta property="og:image" content="https://reia.dev/logo.png">
    <meta property="og:site_name" content="reia.dev">
{% endblock %}

{% block content %}
    {% if flash %}
        <p class="alert alert-{{ flash.type }}">{{ flash.message|raw }}</p>
    {% endif %}
    <h1>Forums</h1>
    {% if categories|length > 0 %}
        {% for category in categories %}
            <article class="category-overview">
                <p class="category-head">
                    <a href="/forum/{{ category.id }}">{{ category.name|e }}</a>
                    <span class="category-description">{{ category.description|e }}</span>
                </p>
                {% if category.topic_id %}
                    <p class="category-foot">
                        <a href="/forum/topic/{{ category.topic_id }}">{{ category.is_locked ? "Locked: " : "" }}{{ category.reply_count > 0 ? "Re: " :"" }}{{ category.subject|e }}</a>
                        <span class="topic-byline">By <a href="/user/{{ category.username|e }}">{{ category.username|e }}</a> ({{ category.last_replied_at ? category.last_replied_at|date("Y-m-d H:i:s") : category.created_at|date("Y-m-d H:i:s") }})</span>
                    </p>
                {% else %}
                    <p class="category-foot">No topics.</p>
                {% endif %}
            </article>
        {% endfor %}
    {% else %}
        <p>No forum categories found.</p>
    {% endif %}
{% endblock %}
