{% extends "base.twig" %}

{% block og %}
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://reia.dev/forum/topic/{{ topic.id }}">
    <meta property="og:image" content="https://reia.dev/logo.png">
{% endblock %}

{% block content %}
    {% if flash %}
        <p class="alert alert-{{ flash.type }}">{{ flash.message|raw }}</p>
    {% endif %}
    <p><a href="/forum">Forum</a> / <a href="/forum/{{ topic.category_id }}">{{ topic.category_name|e }}</a> / <a href="/forum/topic/{{ topic.id }}">{{ topic.is_sticky ? "Sticky: " : "" }}{{ topic.is_locked ? "Locked: " : "" }}{{ topic.subject|e }}</a></p>
    <hr>
    <h1>
        {{ topic.is_sticky ? "Sticky: " : "" }}{{ topic.is_locked ? "Locked: " : "" }}{{ topic.subject|e }} 
    </h1>
    <p class="topic-options">
        {% if user.role == 2 %}
            {% if not topic.is_locked %}
                <a href="/forum/admin/lock/{{ topic.id }}/1">Lock Topic</a>
            {% else %}
                <a href="/forum/admin/lock/{{ topic.id }}/0">Unlock Topic</a>
            {% endif %}
            |
            {% if not topic.is_sticky %}
                <a href="/forum/admin/sticky/{{ topic.id }}/1">Sticky Topic</a>
            {% else %}
                <a href="/forum/admin/sticky/{{ topic.id }}/0">Unsticky Topic</a>
            {% endif %}
        {% endif %}
    </p>
    {% if posts|length > 0 %}
        {% for post in posts %}
            <article class="topic-post">
                <section class="post-info" id="post{{ post.id }}">
                    <p>
                        <a href="#post{{ post.id }}">#{{ post.id }}</a><span class="post-date">{{ post.created_at|date("Y-m-d H:i:s") }} {{ post.is_modified ? "(modified)" : "" }}</span>
                        <span class="post-options"><!-- <a class="post-quote">Quote</a> -->{% if post.started_by == user.id %}<a href="/forum/update/{{ post.id }}">Update</a>{% endif %}</p>
                    <span class="clear"></span>
                </section>
                <section class="post-body">
                    <section class="post-user">
                        <p>
                            <a href="/user/{{ post.username|e }}" class="post-username">{{ post.username|e }}</a>
                            {% if post.avatar %}
                                <img src="{{ post.avatar|e }}" width="64" height="64" alt="{{ post.username|e }}" class="post-avatar">
                            {% endif %}
                            {% if post.user_role == 2 %}
                                <span class="post-role-administrator">Administrator</span>
                            {% endif %}
                        </p>
                    </section>
                    <section class="post-content">
                        <div>{{ post.content|raw }}</div>
                    </section>
                </section>
            </article>
        {% endfor %}
    {% else %}
        <p>No posts found.</p>
    {% endif %}
    {% if user and not topic.is_locked %}
        <form action="/forum/topic/{{ topic.id }}" method="post" class="topic-reply" id="reply">
            <caption><strong>Reply</strong></caption>
            <input type="hidden" name="csrf-token" value="{{ csrf_token }}">
            <div>
                <textarea name="content" rows="20" cols="80" class="reply-content">{{ form_input ? form_input.content|e : "" }}</textarea>
            </div>
            <div>
                <button type="submit">Post</button>
            </div>
        </form>
    {% endif %}
{% endblock %}
