{% extends "base.twig" %}

{% block content %}
    {% if flash %}
        <p class="alert alert-{{ flash.type }}">{{ flash.message|raw }}</p>
    {% endif %}
    <h1>Create Topic</h1>
    <form action="/forum/create/{{ category_id }}" method="post">
        <input type="hidden" name="csrf-token" value="{{ csrf_token }}">
        <div>
            <label for="input-subject">Subject</label>
        </div>
        <div>
            <input type="text" name="subject" id="input-subject" size="60" value="{{ form_input ? form_input.subject|e : "" }}">
        </div>
        <div>
            <textarea name="content" rows="20" cols="80">{{ form_input ? form_input.content|e : "" }}</textarea>
        </div>
        <div>
            <button type="submit">Post</button>
        </div>
    </form>
{% endblock %}
