{% extends "base.twig" %}

{% block og %}
    <meta property="og:title" content="{{ title|e }}">
    <meta property="og:type" content="website">
    {% if user_profile %}
        <meta property="og:url" content="https://reia.dev/user/{{ user_profile.username|e }}">
    {% endif %}
    <meta property="og:image" content="https://reia.dev/logo.png">
    <meta property="og:site_name" content="reia.dev">
{% endblock %}

{% block content %}
    {% if flash %}
        <p class="alert alert-{{ flash.type }}">{{ flash.message|raw }}</p>
    {% endif %}
    <h1>User Profile</h1>
    {% if user_profile %}
        {% if user_profile.avatar %}
            <p><img src="{{ user_profile.avatar|e }}" width="64" height="64" alt="{{ user_profile.username|e }}"></p>
        {% endif %}
        <p>Username: {{ user_profile.username|e }}</p>
        <p>E-mail address: {{ user_profile.email|e }}</p>
        {% if user_profile.role == 2 %}
            <p>This user is an administrator.</p>
        {% endif %}
    {% else %}
        <p>No user found by this username.</p>
    {% endif %}
{% endblock %}
