{% extends "base.twig" %}

{% block og %}
    <meta property="og:title" content="{{ title|e }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://reia.dev/wiki/search">
    <meta property="og:image" content="https://reia.dev/logo.png">
    <meta property="og:site_name" content="reia.dev">
{% endblock %}

{% block content %}
    {% if flash %}
        <p class="alert alert-{{ flash.type }}">{{ flash.message|raw }}</p>
    {% endif %}
    <h1>Search</h1>
    <form action="/wiki/search" method="post">
        <div class="search-container">
            <input type="text" name="search-term" id="input-search" class="search-box" placeholder="Search...">
            <button type="submit" class="search-button">Go</button>
        </div>
    </form>
    {% if search_term %}
        <p>Fetching results for &quot;{{ search_term|e }}&quot;:</p>
        {% if articles|length > 0 %}
            {% for article in articles %}
                <article class="search-result">
                    <h2><a href="/wiki/article/{{ article.slug|e }}">{{ article.title|e }}</a></h2>
                    <p class="article-byline"><em>Last modified at {{ article.last_modified|date("Y-m-d H:i:s") }} by <a href="/user/{{ article.username|e }}">{{ article.username|e }}</a>.</em></p>
                </article>
            {% endfor %}
        {% else %}
            <p>No articles found using the search parameters.</p>
        {% endif %}
    {% else %}
        <p>No search terms entered.</p>
    {% endif %}
{% endblock %}
